<header-component></header-component>
<ion-content class="user_courses">
  <div class="user_course__content">
    <div class="user_course__content__heading">
      <span>Ваши курсы</span>
    </div>
    <div class="user_course__content__user_courses">
      <ul class="user_course__content__user_courses__list">
        <li class="user_course__content__user_courses__list__item" *ngFor="let course of this.userCourses; let i = index" [style.background-color]="course.backgroundColor">
          <div class="user_course__content__user_courses__list__item__background">
            <img src="./assets/card-background.png" alt="">
          </div>
          <div class="user_course__content__user_courses__list__item__course_title">
            <img src="{{course.iconPath}}" alt="" class="user_course__content__user_courses__list__item__course_title__icon">
            <span class="user_course__content__user_courses__list__item__course_title__name">{{course.courseName}}</span>
          </div>
          <div class="user_course__content__user_courses__list__item__price">
            {{course.coursePrice}}
          </div>
          <a href="courses/{{course.id}}" class="user_course__content__user_courses__list__item__attempt_btn">
            <span>{{course.lessonsCount}} уроков</span>
            <span>&#9679;</span>
            <span>{{course.hours}} часов</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</ion-content>
