@media (min-width: 786px), (min-width: 820px) {
  .course_details__content {
    &__up {
      .like_button {
        font-size: 50px;
        --ionicon-stroke-width: 35px;
      }

      .go_back_arrow {
        width: 30px;
        height: 30px;
        color: #000000;
        &:before, &:after {
          border-right: 6px solid;
          height: 30px;
          margin-top: -19px;
          right: 10px;
          top: 50%;
          width: 0;
        }
        &:after {
          margin-top: -1px;
        }
      }
    }

    &__lessons {
      &__lesson {

        &__short {
          font-size: 25px;
        }

        &__info {
          &__lesson_link, &__hw {
            span {
              font-size: 25px;
            }
            a {
              font-size: 25px;
            }
          }
        }

        ion-icon {
          font-size: 35px;
        }
      }
    }

    &__course_info {
      &__block {
        &__details {
          &__available {
            font-size: 20px;
          }

          .heading {
            font-size: 30px;
          }

          &__lh_count {
            font-size: 25px;
          }
        }


        &__icon {
          width: 85px;
          height: 85px;
        }

        &__text {
          font-size: 40px;
          .rating {
            font-size: 25px;
            font-weight: normal;
          }
        }
      }
    }

    &__open_all_courses {
      width: 90%;
      left: 0;
      right: 0;
      margin: 0 auto 30px;

      ion-icon {
        font-size: 40px;
      }
    }
  }
  .arrow_down {
    &:before, &:after {
      height: 25px;
      border-right: 4px solid;
      margin-top: -16px;
    }
    &:after {
      margin-top: -1px;
    }
  }
}

@media (min-width: 1024px) {
  .course_details__content {
    &__up {
      .like_button {
        font-size: 50px;
        --ionicon-stroke-width: 35px;
      }

      .go_back_arrow {
        width: 30px;
        height: 30px;
        color: #000000;
        &:before, &:after {
          border-right: 6px solid;
          height: 30px;
          margin-top: -19px;
          right: 10px;
          top: 50%;
          width: 0;
        }
        &:after {
          margin-top: -1px;
        }
      }
    }

    &__lessons {
      &__lesson {

        &__short {
          font-size: 28px;
        }

        &__info {
          &__lesson_link, &__hw {
            span {
              font-size: 28px;
            }
            a {
              font-size: 28px;
            }
          }
        }

        ion-icon {
          font-size: 38px;
        }
      }
    }

    &__course_info {
      &__block {
        &__details {
          &__available {
            font-size: 23px;
          }

          .heading {
            font-size: 33px;
          }

          &__lh_count {
            font-size: 28px;
          }
        }


        &__icon {
          width: 85px;
          height: 85px;
        }

        &__text {
          font-size: 43px;
          .rating {
            font-size: 28px;
            font-weight: normal;
          }
        }
      }
    }

    &__open_all_courses {
      width: 90%;
      left: 0;
      right: 0;
      margin: 0 auto 30px;
      ion-icon {
        font-size: 43px;
      }
      span {
        font-size: 38px;
      }
    }
  }
  .arrow_down {
    &:before, &:after {
      height: 25px;
      border-right: 4px solid;
      margin-top: -16px;
    }
    &:after {
      margin-top: -1px;
    }
  }
}
