<ion-content class="edit_course">
  <div class="edit_course__content">
    <div class="edit_post__content__image">
      <label for="POSTBANNER">
        <img src="{{editingPost.postImg}}" alt="" id="picked_photo">
      </label>
      <input type="file" name="POSTBANNER" id="POSTBANNER">
    </div>
    <div class="edit_post__content__text">
      <input type="text" placeholder="Тема" id="POSTTOPIC" value="{{editingPost.postName}}">
      <textarea placeholder="текст" id="POSTTEXT" value="{{editingPost.postText}}"></textarea>
    </div>
    <div class="edit_post__content__save_btn">
      <span>Сохранить</span>
    </div>
    <a href="/user/admin/posts" class="edit_post__content__go_back_arrow"></a>
  </div>
</ion-content>
