.first_entry__header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 5% 10%;

  &__skip_button {
    background: none;
    color: #000;
    font-size: 17px;
    opacity: .5;
  }
}
