.first_entry__header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 5% 10%;

  &__skip_button {
    background: none;
    color: #000;
    font-size: 17px;
    opacity: .5;
  }
}

@media (min-width: 768px), (min-width: 820px) {
  .first_entry__header {
    &__skip_button {
      font-size: 25px;
    }
    img {
      width: 25px;
    }
  }
}

@media (min-width: 1024px) {
  .first_entry__header {
    &__skip_button {
      font-size: 35px;
    }
    img {
      width: 35px;
    }
  }
}
