<ion-tabs class="tabs">
  <ion-tab-bar slot="bottom" class="tabs__bar">
    <div class="tab_bar_content">
      <ion-tab-button tab="home">
        <img class="home_icon" src="./assets/logo-1.png" alt="">
      </ion-tab-button>
      <ion-tab-button tab="courses">
        <ion-icon name="book-outline"></ion-icon>
      </ion-tab-button>
      <ion-tab-button tab="tests">
        <ion-icon name="document-text-outline"></ion-icon>
      </ion-tab-button>
      <ion-tab-button tab="universities">
        <ion-icon name="earth-outline"></ion-icon>
      </ion-tab-button>
      <ion-tab-button tab="user">
        <ion-icon name="school-outline"></ion-icon>
      </ion-tab-button>
    </div>
  </ion-tab-bar>
</ion-tabs>
