<ion-content class="create_post">
  <div class="create_post__content">
    <div class="create_post__content__image">
      <label for="POSTBANNER">
        <img src="./assets/pick_img.png" alt="" id="picked_photo">
      </label>
      <input type="file" name="POSTBANNER" id="POSTBANNER">
    </div>
    <div class="create_post__content__text">
      <input type="text" placeholder="Тема" id="POSTTOPIC">
      <textarea placeholder="текст" id="POSTTEXT"></textarea>
    </div>
    <div class="create_post__content__save_btn">
      <span>Сохранить</span>
    </div>
    <a href="/user/admin/posts" class="create_post__content__go_back_arrow"></a>
  </div>
</ion-content>
