@media (min-width: 768px), (min-width: 820px) {
  .admin_page__content {
    &__sections {
      width: 80%;
    }
  }
}


@media (min-width: 1024px) {
  .admin_page__content {
    &__sections {
      &__section {
        height: 80px;
        a {
          span {
            font-size: 30px;
          }
        }
      }
    }
  }
}
