<header-component></header-component>
<ion-content class="admin_page">
  <div class="admin_page__content">
    <div class="admin_page__content__background">
      <img src="../../../assets/Squared%20Loops.png" alt="">
      <img src="../../../assets/Squared%20Loops.png" alt="">
      <img src="../../../assets/Squared%20Loops.png" alt="">
    </div>
    <div class="admin_page__content__sections">
      <div class="admin_page__content__sections__section">
        <a href="/user/admin/courses">
          <span class="admin_page__content__sections__section__name">Курсы</span>
          <span class="arrow_right"></span>
        </a>
      </div>
      <div class="admin_page__content__sections__section">
        <a href="/user/admin/tests">
          <span class="admin_page__content__sections__section__name">Тесты</span>
          <span class="arrow_right"></span>
        </a>
      </div>
      <div class="admin_page__content__sections__section">
        <a href="/user/admin/posts">
          <span class="admin_page__content_sections__section__name">Посты</span>
          <span class="arrow_right"></span>
        </a>
      </div>
    </div>
  </div>
</ion-content>
