<div class="first_entry">
  <first-entry-header-component name="first-entry-header" class="first_entry__header"></first-entry-header-component>
  <div class="first_entry__content">
    <img src="assets/logo-1.png" class="first_entry__logo">
    <first-entry-1-component name="first-entry-1" class="first_entry__page" id="page1"></first-entry-1-component>
    <first-entry-2-component name="first-entry-2" class="first_entry__page hidden" id="page2"></first-entry-2-component>
    <first-entry-3-component name="first-entry-3" class="first_entry__page hidden" id="page3"></first-entry-3-component>
  </div>
</div>
