<img src="./assets/first-entry-3.png" class="first_entry__img"/>
<div class="first_entry__3__text">
  Школа со всеми шпорами уже в твоем кармане
</div>
<div class="first_entry_3__buttons_block">
  <div class="first_entry__reg_button_block">
      <a href="/register" class="first_entry_3__reg_btn">Зарегистрироваться</a>
  </div>
  <div class="first_entry_3__between_button_text">
    или
  </div>
  <div class="first_entry__buttons">
    <button class="first_entry__prev_button">Назад</button>
    <a href="/register" class="first_entry__login">Войти</a>
  </div>
</div>
