<div class="verification_page">
  <div class="verification_page__img_block">
    <img src="./assets/logo-1.png" alt=>
  </div>

  <div class="verification_page__text" id="verification_page__text">
    Введите код, который <br> мы отправили вам
  </div>

  <div class="verification_page__timer">
    <span id="ver_page_timer">01:00</span>
  </div>

  <div class="verification_page__code_block">
    <div class="verification_page__code_block__item">
      <input type="text" placeholder="-" typeof="number" maxlength="1" class="code_input">
    </div>
    <div class="verification_page__code_block__item">
      <input type="text" placeholder="-" typeof="number" maxlength="1" class="code_input">
    </div>
    <div class="verification_page__code_block__item">
      <input type="text" placeholder="-" typeof="number" maxlength="1" class="code_input">
    </div>
    <div class="verification_page__code_block__item">
      <input type="text" placeholder="-" typeof="number" maxlength="1" class="code_input">
    </div>
    <div class="verification_page__code_block__item">
      <input type="text" placeholder="-" typeof="number" maxlength="1" class="code_input">
    </div>
    <div class="verification_page__code_block__item">
      <input type="text" placeholder="-" typeof="number" maxlength="1" class="code_input">
    </div>
  </div>

  <div class="verification_page__login_btn_block">
    <button class="verification_page__login_btn_block__btn disabled" disabled id="login_btn">Войти</button>
  </div>

  <div class="verification_page__send_code_again">
    Я не получил код! <a href="">Тык!</a>
  </div>
</div>
