<div class="create_course__content__lessons__lesson__short">
  <span>{{ lesson.id }}</span>
  <input type="text" placeholder="Название" name="lesson_name">
  <ion-icon name="play-circle" class="show_btn"></ion-icon>
  <div class="arrow_down hidden"></div>
</div>
<div class="create_course__content__lessons__lesson__info hidden">
  <div class="create_course__content__lessons__lesson__info__lesson_link">
    <span>Ссылка на урок</span>
    <input type="text" placeholder="link" class="create_course__content__input" name="lesson_link">
  </div>
  <div class="create_course__content__lessons__lesson__info__summary_link">
    <span>Конспект</span>
    <input type="text" placeholder="link" class="create_course__content__input" name="lesson_summary">
  </div>
  <div class="create_course__content__lessons__lesson__info__hw">
    <span>Д/з</span>
    <input type="text" placeholder="link" class="create_course__content__input" name="hw">
  </div>
</div>
