<header-component></header-component>
<ion-content class="edit_test">
  <div class="edit_test__content">
    <div class="edit_test__content__up">
      <a href="/user/admin/tests" class="go_back_arrow"></a>
      <div class="like_button">
        <ion-icon name="heart-outline"></ion-icon>
      </div>
    </div>

    <div class="edit_test__content__outline">
      <div class="edit_test__content__outline__heading">
        <div class="edit_test__content__outline__heading__icon">
          <label for="TEST_ICON">
            <img src="./assets/{{editingTest.img.name}}" alt="" id="test_icon_img">
          </label>
          <input type="file" name="TEST_ICON" id="TEST_ICON" (change)="handleFileInput($event)">
        </div>
        <div class="edit_test__content__outline__heading__test_name title">
          <input type="text" name="TEST_NAME" id="TEST_NAME" placeholder="НАЗВАНИЕ" value="{{editingTest.name}}">
        </div>
      </div>
      <div class="edit_test__content__outline__questions">
        <div class="edit_test__content__outline__questions__question" *ngFor="let question of editingTest.questions; let i = index" data-id="{{i}}" (click)="selectQuestion($event)">
          <span>{{i+1}}</span>
        </div>
        <button class="edit_test__content__outline__questions__add_question_btn" (click)="addNewQuestion()">
          <ion-icon name="add-circle-outline"></ion-icon>
        </button>
      </div>
    </div>

    <div class="edit_test__content__current_question">
      <div class="edit_test__content__current_question__question">
        <span class="edit_test__content__current_question__question__topic" id="current_question_topic">
          Тема:
          <input type="text" name="QUESTION_TOPIC" id="QUESTION_TOPIC" placeholder="ИЗМЕНИТЬ" value="{{selectedQuestion.topic}}">
        </span>
        <br>
        <span class="edit_test__content__current_question__question__text" id="current_question_text">
          <textarea name="QUESTION_TEXT" id="QUESTION_TEXT" placeholder="ВОПРОС" [value]="selectedQuestion.question"></textarea>
        </span>
      </div>
      <div class="edit_test__content__current_question__answers">
        <ul class="edit_test__content__current_question__answers__list">
          <li class="edit_test__content__current_question__answers__list__answer" (click)="checkAnswer(i, $event)" *ngFor="let answer of selectedQuestion.answers; let i = index" data-id="{{i}}">
            <span class="edit_test__content__current_question__answers__list__answer__letter">{{ alphabet[i]}}.</span>
            <span class="edit_test__content__current_question__answers__list__answer__text">
              <input type="text" value="{{answer.answer}}" class="edit_test__content__current_question__answers__list__answer__text__input">
            </span>
          </li>
        </ul>
      </div>
    </div>

    <div class="edit_test__content__btns">
      <div class="edit_test__content__btns__save_question" (click)="saveQuestion()">
        <span>Сохранить вопрос</span>
      </div>
      <div class="edit_test__content__btns__save_test" (click)="saveTest()">
        <span>Сохранить тест</span>
      </div>
    </div>
  </div>
</ion-content>
