<header-component></header-component>
<ion-content class="profile_page">
  <div class="profile_page__content">
    <div class="profile_page__content__background">
      <img src="./assets/Squared%20Loops.png" alt="">
      <img src="./assets/Squared%20Loops.png" alt="">
      <img src="./assets/Squared%20Loops.png" alt="">
    </div>
    <div class="profile_page__content__profile_photo">
      <img src="{{user.avatar}}" alt="">
      <span class="profile_page__content__profile_photo__name title">{{user.first_name}} {{user.last_name}}</span>
    </div>
    <div class="profile_page__content__profile_options">
      <a href="user/user-courses" class="profile_page__content__profile_options__option">
        <span>Ваши курсы</span>
        <div class="arrow_right"></div>
      </a>
      <ul class="profile_page__content__profile_options__options_list">
        <li class="profile_page__content__profile_options__options_list__option">
          <a href="user/buy-courses">
            <span>Купить курсы</span>
            <div class="arrow_right"></div>
          </a>
        </li>
        <li class="divider"></li>
        <li class="profile_page__content__profile_options__options_list__option">
          <a href="user/edit-profile">
            <span>Изменить профиль</span>
            <div class="arrow_right"></div>
          </a>
        </li>
        <li class="divider"></li>
        <li class="profile_page__content__profile_options__options_list__option">
          <a href="user/statistic">
            <span>Статистика</span>
            <div class="arrow_right"></div>
          </a>
        </li>
        <li class="divider"></li>
        <li class="profile_page__content__profile_options__options_list__option">
          <a href="user/policy">
            <span>Наша политика</span>
            <div class="arrow_right"></div>
          </a>
        </li>
      </ul>
      <button href="" class="profile_page__content__profile_options__option" (click)="logout()">
        <span>Выйти</span>
      </button>
    </div>
  </div>
</ion-content>
