<header-component></header-component>
<ion-content class="edit_profile">
  <div class="edit_profile__content">
    <div class="edit_profile__content__background">
      <img src="./assets/Squared%20Loops.png" alt="">
      <img src="./assets/Squared%20Loops.png" alt="">
      <img src="./assets/Squared%20Loops.png" alt="">
    </div>
    <div class="edit_profile__content__heading">
      <span class="title">Изменить профиль</span>
    </div>
    <div class="edit_profile__content__profile_info">
      <div class="edit_profile__content__profile_info__avatar">
        <img src="./assets/profile_photo.png" alt="">
      </div>
      <div class="edit_profile__content__profile_info__user_data">
        <form action="">
          <label for="">
            <span>Name</span>
            <input type="text" name="name" id="name" placeholder="Name">
          </label>
          <label for="">
            <span>Username</span>
            <input type="text" name="username" id="username" placeholder="Username">
          </label>
          <label for="">
            <span>Password</span>
            <input type="password" name="password" id="password" placeholder="Password">
          </label>
          <label for="">
            <span>E-mail</span>
            <input type="text" name="email" id="email" placeholder="Email">
          </label>
        </form>
      </div>
      <div class="edit_profile__content__profile_info__save_btn">
        <span>Save</span>
      </div>
    </div>
  </div>
</ion-content>
