.edit_course__content__lessons__lesson {
  list-style-type: none;
  margin: 10px 0;
  color: #000000;
  border: 1px solid #D9D9D9;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__short {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;

    ion-icon {
      font-size: 25px;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &__lesson_link, &__hw, &__summary_link {
      margin-top: 20px;
      display: flex;
      flex-direction: column;

      span {
        font-size: 22px;
        font-weight: bold;
      }
      a {
        text-decoration: none;
        font-size: 15px;
        margin-top: 5px;
      }
    }
  }
}
.arrow_down {
  position: relative;
  width: 10px;
  height: 10px;
  display: block;
  padding: 10px 15px 10px 10px;

  transform: rotate(90deg);

  &:before, &:after {
    border-right: 3px solid;
    content: '';
    display: block;
    height: 20px;
    margin-top: -14px;
    position: absolute;
    transform: rotate(135deg);
    right: 10px;
    top: 50%;
    width: 0;
    border-color: #000000;
  }
  &:after {
    margin-top: -1px;
    transform: rotate(45deg);
  }
}

.hidden {
  display: none;
}
input {
  background-color: #ffffff;
}
