<header-component></header-component>
<ion-content class="home_page">
  <div class="home_page__content">
    <div class="home_page__content__greetings">
      <div class="home_page__content__greetings__text title">
        Привет, <br> Абитуриент
      </div>
      <div class="home_page__content__greetings__img">
        <img src="./assets/Wave.png" alt="">
      </div>
    </div>
    <div class="home_page__content__categories">
      <div class="home_page__content__categories__category selected home_page_category" data-category="all" (click)="showAllPosts()">
        Все
      </div>
      <div class="home_page__content__categories__category" data-category="interesting" (click)="showInterestingPosts()">
        Интересное
      </div>
      <div class="home_page__content__categories__category" data-category="saved" (click)="showSavedPosts()">
        Избранное
      </div>
    </div>
    <div class="home_page__content__cards">
      <div class="home_page__content__cards__card" *ngFor="let post of posts; let i = index">
        <div class="home_page__content__cards__card__background">
          <img src="./assets/card-background.png" alt="">
        </div>
        <div class="home_page__content__cards__card__text">
          <p>{{post.name}}</p>
        </div>
        <a href="home/post" class="home_page__content__cards__card__more_btn" data-id="{{post.id}}">
          Подробнее
        </a>
        <div class="home_page__content__cards__card__save_btn" (click)="save(i)">
          <ion-icon name="bookmark-outline" class="home_page__content__cards__card__save_btn__icon"></ion-icon>
        </div>
        <div class="home_page__content__cards__card__img">
          <img src="./assets/{{post.img}}" alt="">
        </div>
      </div>
    </div>
  </div>
</ion-content>
