<header-component></header-component>
<ion-content class="home_page">
  <div class="home_page__content">
    <div class="home_page__content__greetings">
      <div class="home_page__content__greetings__text title">
        Привет, <br> Абитуриент
      </div>
      <div class="home_page__content__greetings__img">
        <img src="./assets/Wave.png" alt="">
      </div>
    </div>
    <div class="home_page__content__categories">
      <div class="home_page__content__categories__category selected home_page_category" data-category="all">
        Все
      </div>
      <div class="home_page__content__categories__category" data-category="interesting">
        Интересное
      </div>
      <div class="home_page__content__categories__category" data-category="saved">
        Избранное
      </div>
    </div>
    <div class="home_page__content__cards">
      <div class="home_page__content__cards__card">
        <div class="home_page__content__cards__card__background">
          <img src="./assets/card-background.png" alt="">
        </div>
        <div class="home_page__content__cards__card__text">
          <p>Марафон PRO</p>
          <p>По Истории</p>
        </div>
        <a href="home/post" class="home_page__content__cards__card__more_btn" data-card-id="1">
          Подробнее
        </a>
        <div class="home_page__content__cards__card__save_btn">
          <ion-icon name="bookmark-outline" class="home_page__content__cards__card__save_btn__icon"></ion-icon>
        </div>
        <div class="home_page__content__cards__card__img">
          <img src="./assets/card_img.png" alt="">
        </div>
      </div>
      <div class="home_page__content__cards__card">
        <div class="home_page__content__cards__card__background">
          <img src="./assets/card-background.png" alt="">
        </div>
        <div class="home_page__content__cards__card__text">
          <p>Марафон PRO</p>
          <p>По Истории</p>
        </div>
        <a href="home/post" class="home_page__content__cards__card__more_btn" data-card-id="2">
          Подробнее
        </a>
        <div class="home_page__content__cards__card__save_btn">
          <ion-icon name="bookmark-outline" class="home_page__content__cards__card__save_btn__icon"></ion-icon>
        </div>
        <div class="home_page__content__cards__card__img">
          <img src="./assets/card_img.png" alt="">
        </div>
      </div>
      <div class="home_page__content__cards__card">
        <div class="home_page__content__cards__card__background">
          <img src="./assets/card-background.png" alt="">
        </div>
        <div class="home_page__content__cards__card__text">
          <p>Марафон PRO</p>
          <p>По Истории</p>
        </div>
        <a href="home/post" class="home_page__content__cards__card__more_btn" data-card-id="3">
          Подробнее
        </a>
        <div class="home_page__content__cards__card__save_btn">
          <ion-icon name="bookmark-outline" class="home_page__content__cards__card__save_btn__icon"></ion-icon>
        </div>
        <div class="home_page__content__cards__card__img">
          <img src="./assets/card_img.png" alt="">
        </div>
      </div>
      <div class="home_page__content__cards__card">
        <div class="home_page__content__cards__card__background">
          <img src="./assets/card-background.png" alt="">
        </div>
        <div class="home_page__content__cards__card__text">
          <p>Марафон PRO</p>
          <p>По Истории</p>
        </div>
        <a href="home/post" class="home_page__content__cards__card__more_btn" data-card-id="4">
          Подробнее
        </a>
        <div class="home_page__content__cards__card__save_btn">
          <ion-icon name="bookmark-outline" class="home_page__content__cards__card__save_btn__icon"></ion-icon>
        </div>
        <div class="home_page__content__cards__card__img">
          <img src="./assets/card_img.png" alt="">
        </div>
      </div>
      <div class="home_page__content__cards__card">
        <div class="home_page__content__cards__card__background">
          <img src="./assets/card-background.png" alt="">
        </div>
        <div class="home_page__content__cards__card__text">
          <p>Марафон PRO</p>
          <p>По Истории</p>
        </div>
        <a href="home/post" class="home_page__content__cards__card__more_btn" data-card-id="5">
          Подробнее
        </a>
        <div class="home_page__content__cards__card__save_btn">
          <ion-icon name="bookmark-outline" class="home_page__content__cards__card__save_btn__icon"></ion-icon>
        </div>
        <div class="home_page__content__cards__card__img">
          <img src="./assets/card_img.png" alt="">
        </div>
      </div>
      <div class="home_page__content__cards__card">
        <div class="home_page__content__cards__card__background">
          <img src="./assets/card-background.png" alt="">
        </div>
        <div class="home_page__content__cards__card__text">
          <p>Марафон PRO</p>
          <p>По Истории</p>
        </div>
        <a href="home/post" class="home_page__content__cards__card__more_btn" data-card-id="6">
          Подробнее
        </a>
        <div class="home_page__content__cards__card__save_btn">
          <ion-icon name="bookmark-outline" class="home_page__content__cards__card__save_btn__icon"></ion-icon>
        </div>
        <div class="home_page__content__cards__card__img">
          <img src="./assets/card_img.png" alt="">
        </div>
      </div>
      <div class="home_page__content__cards__card">
        <div class="home_page__content__cards__card__background">
          <img src="./assets/card-background.png" alt="">
        </div>
        <div class="home_page__content__cards__card__text">
          <p>Марафон PRO</p>
          <p>По Истории</p>
        </div>
        <a href="home/post" class="home_page__content__cards__card__more_btn" data-card-id="7">
          Подробнее
        </a>
        <div class="home_page__content__cards__card__save_btn">
          <ion-icon name="bookmark-outline" class="home_page__content__cards__card__save_btn__icon"></ion-icon>
        </div>
        <div class="home_page__content__cards__card__img">
          <img src="./assets/card_img.png" alt="">
        </div>
      </div>
      <div class="home_page__content__cards__card">
        <div class="home_page__content__cards__card__background">
          <img src="./assets/card-background.png" alt="">
        </div>
        <div class="home_page__content__cards__card__text">
          <p>Марафон PRO</p>
          <p>По Истории</p>
        </div>
        <a href="home/post" class="home_page__content__cards__card__more_btn" data-card-id="8">
          Подробнее
        </a>
        <div class="home_page__content__cards__card__save_btn">
          <ion-icon name="bookmark-outline" class="home_page__content__cards__card__save_btn__icon"></ion-icon>
        </div>
        <div class="home_page__content__cards__card__img">
          <img src="./assets/card_img.png" alt="">
        </div>
      </div>
    </div>
  </div>
</ion-content>
