<header-component></header-component>
<ion-content class="buy_courses">
  <div class="buy_courses__content">
    <div class="buy_courses__content__background">
      <img src="./assets/Squared%20Loops.png" alt="">
      <img src="./assets/Squared%20Loops.png" alt="">
      <img src="./assets/Squared%20Loops.png" alt="">
    </div>
    <div class="buy_courses__content__heading">
      <span>Купить курсы</span>
    </div>
    <div class="buy_courses__content__opportunities">
      <div class="buy_courses__content__opportunities__heading">
        <span>Освой любой <br> предмет сейчас</span>
      </div>
      <ul class="buy_courses__content__opportunities__list">
        <li class="buy_courses__content__opportunities__list__item">
          <span class="checkmark"><ion-icon name="checkmark-outline"></ion-icon></span>
          <span class="buy_courses__content__opportunities__list__item__text">
            Открой более 100+ уроков
          </span>
        </li>
        <li class="buy_courses__content__opportunities__list__item">
          <span class="checkmark"><ion-icon name="checkmark-outline"></ion-icon></span>
          <span class="buy_courses__content__opportunities__list__item__text">
            Мини школа в твоем телефоне
          </span>
        </li>
        <li class="buy_courses__content__opportunities__list__item">
          <span class="checkmark"><ion-icon name="checkmark-outline"></ion-icon></span>
          <span class="buy_courses__content__opportunities__list__item__text">
            Обратная связь от кураторов
          </span>
        </li>
        <li class="buy_courses__content__opportunities__list__item">
          <span class="checkmark"><ion-icon name="checkmark-outline"></ion-icon></span>
          <span class="buy_courses__content__opportunities__list__item__text">
            1000+ МТЕРИАЛА
          </span>
        </li>
        <li class="buy_courses__content__opportunities__list__item">
          <span class="checkmark"><ion-icon name="checkmark-outline"></ion-icon></span>
          <span class="buy_courses__content__opportunities__list__item__text">
            Лучшие преподаватели
          </span>
        </li>
        <li class="buy_courses__content__opportunities__list__item">
          <span class="checkmark"><ion-icon name="checkmark-outline"></ion-icon></span>
          <span class="buy_courses__content__opportunities__list__item__text">
            Выбирай свой тариф или курс
          </span>
        </li>
      </ul>
      <a class="buy_courses__content__opportunities__see_tariffs">
        <span>К тарифам</span>
      </a>
    </div>
  </div>
</ion-content>
