ion-content {
  --ion-background-color: #ffffff;
}
.buy_courses__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
  width: 100%;
  height: 100%;
  margin-bottom: 90px;

  position: relative;

  &__background {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
    overflow: hidden;
    img {
      position: absolute;
      width: 100%;
    }
    :nth-child(1) {
      top: -20%;
    }
    :nth-child(2) {
      top: 25%;
    }
    :nth-child(3) {
      bottom: 0;
    }
  }

  &__heading {
    background-color: #ffffff;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;

    box-shadow: inset -5px -5px 10px 0 rgba(158, 189, 191, 0.25),
    inset 5px 5px 10px 0 rgba(255,255,255, 0.25),
    0 2px 8px 0 rgba(40, 41, 61, 0.08),
    0 20px 32px 0 rgba(96, 97, 112, 0.24);

    padding: 20px 0;
    border-radius: 15px;
    width: 80%;

    span {
      font-size: 20px;
      color: #D31027;
    }
  }

  &__opportunities {
    z-index: 2;
    width: 100%;
    margin-top: 30px;
    color: #000000;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__heading {
      font-size: 25px;
      span {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        text-align: center;
      }
    }

    &__list {
      display: flex;
      flex-direction: column;
      align-items: center;
      list-style-type: none;

      &__item {
        width: 100%;
        margin: 20px 0;
        display: flex;
        flex-direction: row;
        align-items: center;
        .checkmark {
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: #FE082D;
          border-radius: 50%;
          margin-right: 10px;
          padding: 5px;

          ion-icon {
            color: #ffffff;
            font-size: 20px;
            --ionicon-stroke-width: 50px;
          }
        }
        &__text {
          font-size: 16px;
          font-weight: 600;
        }
      }
    }

    &__see_tariffs {
      text-decoration: none;
      color: #ffffff;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 80%;
      padding: 15px 0;
      font-size: 20px;
      background-color: #FE082D;
      border-radius: 10px;
      box-shadow: 0 2px 8px 0 rgba(254, 8, 45, 0.08),
        0 20px 32px 0 rgba(254, 8, 45, 0.15),
        inset 5px 5px 10px 0 rgba(0, 0, 0, 0.25),
        inset -5px -5px 10px 0 rgba(254, 8, 45, 0.25),
        0 4px 8px 0 rgba(0, 0, 0, 0.06);
      font-weight: 600;
    }
  }
}
